body {
    background-color: #047086;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

/* Navbar */
.navbar {
    background-color: transparent;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

/* Qué hacemos*/
#Que-hacemos h1 {
    font-family: 'Roboto Slab', serif;
}

/* Contacto */
#Contacto h1 {
    font-family: 'Roboto Slab', serif;
}

/* Footer*/
footer a {
        color: white;
        margin: 0px 10px;
        text-decoration: none;
    }
